body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

h3 {
    color: rgb(166, 201, 247);
}

body {
    font-family: 'Arial', sans-serif;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: flex;
    justify-content: space-around;
    gap: 5rem;
}

.col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.col-lg-4,
.col-lg-2,
.col-lg-3 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

/* Footer styles */

footer {
    padding-top: 100px;
    padding-bottom: 70px;
}

.footer-item {
    margin-bottom: 30px;
}

.footer-contact ul,
.footer-quick ul,
.footer-feedback form {
    list-style: none;
    padding: 0;
}

.footer-contact li,
.footer-quick li,
.footer-feedback .form-group {
    margin-bottom: 10px;
}

.footer-contact a,
.footer-quick a {
    text-decoration: none;
    color: #ebe2e2;
}

.footer-contact a:hover,
.footer-quick a:hover {
    color: #007bff;
}

.footer-feedback .form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.feedback-btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.feedback-btn:hover {
    background-color: #0056b3;
}

.icofont {
    color: green;
    font-size: 1.5rem;
    padding: 0.2rem 0.4rem;
}

.myhead {
    color: white;
}


/* Media queries for responsiveness */

@media (max-width: 767px) {
    .col-sm-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {

    .col-lg-4,
    .col-lg-2,
    .col-lg-3 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 992px) {

    .col-lg-4,
    .col-lg-2,
    .col-lg-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
}

@media(max-width:1020px) {
    .row {
        flex-direction: column;
    }
}